<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

  </head>
  <body>
    <footer class="relative h-auto font-['Outfit'] bg-[#2C2c2c] py-4 md:px-8">
      <div class="w-full md:grid md:grid-cols-2 md:items-center">
        <div class="flex justify-center md:justify-start">
          <h1 class="leading-tight text-[2rem] w-[50%] md:w-[50%] md:text-[3rem] text-white text-center md:text-left">
            Consider <span class="text-[3rem] font-bold md:text-[4.5rem]"
              >Subscribing?</span
            >
          </h1>
        </div>
        <form class="grid grid-rows-2 md:pl-10 items-center md:grid-rows-0 place-items-center mt-8" method="post">
          <input
            type="email"
            class="p-2 text-center rounded-full w-[70%] md:p-4 md:w-full border-none outline-none"
            placeholder="email@gmail.com"
            name="useremail"
          />
          <button
            class="p-2 text-center rounded-full w-[50%] md:w-full md:p-4 text-white mt-2 bg-[#FFD233] rounded-full bg-[#FFD233] text-[#FFF] md:hover:bg-[#fff] md:hover:text-[#2c2c2c] transition ease-in-out duration-1500 delay-150"
          >
            Subscribe
          </button>
        </form>
        <div class="flex justify-center items-center md:justify-start mt-4 gap-4">
          <a href="https://www.linkedin.com/in/minimal-space-2a12052a2/" class="text-[#404040] text-[1.5rem]"
            ><iconify-icon icon="mdi:linkedin"></iconify-icon
          ></a>
          <a href="https://www.instagram.com/minimal.ui.space/" class="text-[#404040] text-[1.5rem]"
            ><iconify-icon icon="ri:instagram-fill"></iconify-icon
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>


<!--        &lt;!&ndash; Calendly link widget begin &ndash;&gt;-->
<!--<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">-->
<!--<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>-->
<!--<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/spaceminimal'});return false;">Schedule time with me</a>-->
<!--&lt;!&ndash; Calendly link widget end &ndash;&gt;-->